body {
  margin: 0;
  padding: 0;
  overflow: hidden;
}

.homepage {
  text-align: center;
}

.playButton {
  text-transform: capitalize;
  color: whitesmoke;
  border: 2px solid rgb(226, 22, 216);
  padding: 0.5vh 1vh 0.5vh 1vh;
  cursor: pointer;
  font-size: 8vh;
  background: rgb(226, 22, 216);
  display: inline-block;
  position: relative;
  top: 42vh;
  z-index: 2;
}

.illusion {
  display: block;
  position: relative;
  top: -15vh;
  margin: 0 auto;
  width: 100vw;
  max-width: 800px;
  z-index: 1;
}

.nav-center {
  text-align: center;
  margin: 0;
  padding: 0;
  position: relative;
  z-index: 3;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 2vh 0;
  background-color: #8595d8;
}

li {
  display: inline;
}

a {
  text-decoration: none;
  color: white;
  padding: 0 4vh 0 4vh;
  font-size: 7vh;
}

.playTitle {
  text-align: center;
}

.jumpLi {
  display: block;
}

.jumpButton {
  width: 18vh;
  background-color: #bdc7f2;
  font-size: 2.5vh;
  border-radius: 14%;
  position: relative;
  right: -5vh;
}

.text {
  text-align: center;
}
